<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Time Stamp</th>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
  </tr>
  </thead>
  <tbody>
  {{#each station.readings}}
  <tr>
    <td>
        {{timeStamp}}
    </td>
    <td>
      {{code}}
    </td>
    <td>
      {{temp}} C
    </td>
    <td>
      {{windSpeed}} km/h
    </td>
    <td>
      {{windDirection}} deg
    </td>
    <td>
      {{pressure}} hpa
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>